%font-main {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
}

%font-buttom {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

%font-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 51px;
    color: white;
    letter-spacing: 2.5px;
    word-spacing: 1px;
}

%font-small{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: white;
    letter-spacing: -0.5px;
}

%font-button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: white;
    letter-spacing: 0.8px;
}

%main-padding{
    padding-left: 250px;
}

%padding-step{
    padding-left: 25px;
}

%main-font{
    font-family: 'Montserrat', sans-serif;
}

%extra-font{
    font-family: 'Roboto', sans-serif;
}

%padding-1200{
    padding-left: 200px;
}